.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.title {
    font-size: 48px;
    font-weight: bold;
    color: black;
}
.tagline {
    color: black;
}
