.page-container {
    display: flex;
    justify-content: space-between; /* Ensures that the child elements are spaced out */
}
.scrollable-container-wrapper {
    flex: 5; /* Takes up 3/4 of the space */
    display: flex;
    margin: 20px 0;
}
.scrollable-container {
    width:100%;
    height: 285px; /* Adjusted height to account for search bar height */
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
.other-content {
    flex: 1; /* Takes up 1/4 of the space */
    /* Add other styles for content here, like padding or margin */
}
.clocktower {
    width: 150px; /* Or whatever size you desire */
    height: auto;
    margin-left: 0px;
    margin-right: 20px; /* Space between the image and the next content */

}
h2 {
    color: black
}