form {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ff5047;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

form h2 {
    text-align: center;
    margin-bottom: 2rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: black;
}

form textarea {
    min-height: 100px; /* Gives a nice initial size for typing */
    resize: vertical; /* Allows the user to resize the textarea vertically */
}

form button {
    padding: 0.5rem 1rem;
    background-color: black; /* Same as your active link color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Full width */
    width: 100%;
    margin-top: 1rem;
}

form button:hover {
    background-color: #037a54; /* A darker shade for hover state */
}

/* When the user clicks on the button, focus the first input field */
form button:focus {
    outline: none; /* Removes the default outline */
}

/* Placeholder color */
form input::placeholder,
form textarea::placeholder {
    color: #666;
}

/* Remove input and button styles on iOS */
form input[type="text"],
form input[type="email"],
form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Style focus state for inputs and textarea */
form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    outline: none;
    border-color: #04AA6D;
    box-shadow: 0 0 0 2px rgba(4, 170, 109, 0.2);
}
/* Map container style to match the form */
.leaflet-container {
    border-radius: 8px;
    margin-bottom: 1rem;
    height: 400px; /* Set to desired value */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  /* Style for the location input that gets populated with the lat/lng */
  #location {
    background-color: #f9f9f9; /* Light background for visibility */
    color: black; /* Color for visibility */
    border: 1px solid #ccc; /* Light border for distinction */
  }
  